* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  font-family: "Oswald", sans-serif;
  background: rgb(131, 58, 180);
  background: radial-gradient(
    circle,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(218, 151, 56, 1) 100%
  );
}
a {
  display: inline-block;
}
h1 {
  padding: 15px;
  color: rgb(218, 151, 56, 1);
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
.header {
  z-index: 500;
  display: block;
  top: 0;
  position: sticky;
  width: 100%;
  background-color: #303841;
  /* background: rgb(131, 58, 180);
  background: radial-gradient(
    circle,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(218, 151, 56, 1) 100%
    ); */
}
#under {
  text-align: center;
  background-color: #323232;
  margin: 20px;
}
.login {
  text-decoration: none;
  /* vertical-align: top; */
  font-size: 20px;
  display: block;
  float: right;
  overflow: hidden;
  color: rgba(218, 151, 56, 1);
  line-height: 75px;
  transition: 0.3s;
  padding: 0 10px;
}
.login:hover {
  color: rgba(253, 29, 29, 1);
  border-radius: 15px;
  background-color: #393e46;
}
.menu {
  display: inline-block;
  list-style: none;
  vertical-align: top;
}
.gamepad img {
  vertical-align: middle;
  filter: invert(100%);
  object-fit: contain;
  width: 70px;
  transition: 0.3s;
}
.gamepad img:hover {
  padding: 3px;
  border-radius: 15px;
  background-color: #ffffff33;
}
.menu li {
  margin: 0 10px;
  display: inline-block;
}
.menu a {
  color: rgba(218, 151, 56, 1);
  text-decoration: none;
  line-height: 75px;
  display: inline-block;
  font-size: 20px;
  padding: 0 10px;
  transition: 0.3s;
}
.menu a:hover {
  color: rgba(253, 29, 29, 1);
  border-radius: 15px;
  background-color: #00000033;
}
.central {
  text-align: center;
  margin: 0 auto;
  /* height: 320vh; */
  width: 80%;
  background-color: #393e46;
}
#centralUp {
  width: 100%;
}
h2 {
  color: white;
}
p {
  color: white;
  padding: 0 15px;
  /* font-size: large; */
}
b {
  color: rgb(218, 151, 56, 1);
  margin: 5px;
}
.central li {
  text-align: left;
  padding: 0 10px;
  font-size: 18px;
  list-style: none;
  color: white;
}
.slider-container {
  z-index: -2;
  overflow: hidden;
  font-size: 0;
}
#slider {
  position: relative;
  height: 800px;
  padding: 0px;
  margin: 0px;
}
.slide h2 {
  text-shadow: 0 0 20px black;
  margin: 5px 15px 0;
  display: inline-block;
}
.slide {
  transition: 0.3s;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  object-fit: cover;
  background-image: url("slider1.jpg");
  background-size: cover;
  background-position: center;
  font-size: large;
  color: white;
}
.showing {
  opacity: 1;
  z-index: 2;
}
.slide:nth-child(2) {
  transition: 0.3s;
  background-image: url("slider2.jpg");
}
.slide:nth-child(3) {
  transition: 0.3s;
  background-image: url("slider3.jpg");
}
/* .sliderBtns {
  transform: translateY(-50%);
  text-align: center;
}
.sliderBtns a:hover {
  transform: translateY(-5px);
}
.sliderBtns a {
  box-shadow: 0 0 20px black;
  margin: 0 10px;
  display: inline-block;
  background-color: #f6f6f6;
  width: 70px;
  border-radius: 15px;
  display: inline-block;
  transition: 0.3s;
}
.sliderBtns {
  position: absolute;
  top: 55%;
  left: 41%;
}
.sliderBtns a img {
  width: 50px;
  padding: 5px;
}
.sliderBtns a:first-child img {
  transform: rotate(180deg);
} */
.news-of-th-week {
  overflow: hidden;
  text-decoration: none;
  font-size: 0;
}
.block img:first-child {
  object-fit: cover;
  width: 100%;
}
.news-of-th-week p {
  display: inline-block;
}
.block img:first-child {
  width: 100%;
  border-radius: 10px;
}
.block {
  border-radius: 10px;
  background-color: #222831;
  display: inline-block;
  width: calc((100% - 100px) / 2);
  text-align: left;
  transition: 0.3s;
  margin: 20px 20px;
  text-decoration: none;
  min-height: 350px;
}
.block:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px #00000088;
}
.block h5 img {
  filter: invert(100%);
  vertical-align: middle;
  margin-left: 15px;
  margin-right: 3px;
}
.block h5 {
  padding-right: 5px;
  color: rgba(218, 151, 56, 1);
  vertical-align: middle;
  text-align: right;
  line-height: 20px;
}
.block h5 img:nth-child(1) {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.block h5 img:nth-child(2) {
  width: 20px;
}
.gallery {
  margin: 30px 0;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  font-size: large;
  white-space: normal;
  display: inline-block;
  background-image: url("gallery0.jpg");
  color: white;
}
.gallery a {
  font-size: 25px;
  vertical-align: middle;
  line-height: 5vh;
  margin: 30px 40px 60px;
  color: black;
  background-color: white;
  border-radius: 25px;
  width: 125px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  box-shadow: 0 0 20px black;
}
.gallery:nth-child(2) {
  background-image: url("gallery1.jpg");
}
.gallery:last-child {
  background-image: url("gallery2.jpeg");
}
.sliderBtns {
  transform: translateY(-50%);
  text-align: center;
}
.sliderBtns a {
  background-color: white;
  margin: 0 10px;
  width: 80px;
  box-shadow: 0 0 20px #21212155;
  border-radius: 15px;
  display: inline-block;
  transition: 0.3s;
}
.sliderBtns a:hover {
  transform: translateY(-5px);
}
.sliderBtns a img {
  width: 50px;
  padding: 5px;
}
.sliderBtns a:first-child img {
  transform: rotate(180deg);
}
.slidercontainer2 {
  overflow: hidden;
  font-size: 0;
}
.slider2 {
  transition: 0.5s;
  white-space: nowrap;
}
.gallery h2 {
  text-shadow: 0 0 15px black;
}

.podval {
  text-align: right;
  width: 100%;
  background: #323232;
  padding: 23px;
  padding-bottom: 0;
}
.podval h2 {
  color: #fa4659;
  text-align: center;
}
.podval p {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-size: 20px;
}
.social p a {
  text-decoration: none;
  color: rgba(218, 151, 56, 1);
}
.social {
  padding-bottom: 50px;

  padding-right: 150px;
  line-height: 70px;
  display: inline-block;
  text-align: right;
}
.social a {
  vertical-align: middle;
  display: inline-block;
  padding: 0 25px;
}
.phone {
  padding-bottom: 50px;
  padding-left: 200px;
  display: block;
  float: left;
  white-space: nowrap;
}
.phone a {
  color: white;
  text-align: left;
  text-decoration: none;
  font-size: 20px;
}
.phone a img {
  filter: invert(100%);
  vertical-align: middle;
  width: 70px;
  transition: 0.3s;
}
.phone a:hover img {
  padding: 10px;
  border-radius: 15px;
  background-color: #ffffff33;
}
.social p {
  vertical-align: middle;
}
.social a img {
  filter: invert(100%);
  vertical-align: middle;
  object-fit: cover;
  width: 60px;
  transition: 0.3s;
  padding: 5px;
}
.social a:hover img {
  padding: 10px;
  border-radius: 15px;
  background-color: #ffffff33;
}
.spec {
  color: white;
  padding: 0 20px;
  margin: 10px 0;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
.spec-con {
  text-align: center;
}
#crack a:hover {
  transition: 0.5s;
}
.moreBtn {
  background-image: linear-gradient(to top, rgb(131, 58, 180) 50%, white 50%);
  background-size: 100% 200%;
  background-position: top;
  background-color: white;
  text-decoration: none;
  width: 125px;
  border-radius: 15px;
  margin: 15px;
  font-size: 20px;
  padding: 10px;
  transition: 0.3s;
  box-shadow: 0 0 15px black;
}
.moreBtn:hover {
  color: white;
  background-position: bottom;
  transform: translateY(-8%);
}
.crackGame {
  text-align: left;
  overflow: hidden;
}
.crackImg {
  overflow: hidden;
  float: left;
}
.crackInfo {
  padding-left: 15px;
  float: right;
  width: calc(100% - 300px);
}
.crackGame img {
  display: block;
  object-fit: cover;
  width: 300px;
  height: 400px;
  float: left;
  transition: 0.3s;
  filter: contrast(0.7);
}
.crackGame:hover img {
  transform: scale(1.5);
  filter: contrast(1);
}
.crackGame:hover .crackBtn {
  color: white;
  background-position: bottom;
}
.crackBtnCon {
  text-align: center;
}
.crackBtn {
  background-image: linear-gradient(to top, rgb(131, 58, 180) 50%, white 50%);
  background-size: 100% 200%;
  background-position: top;
  transition-timing-function: ease-in-out;
  display: inline-block;
  text-decoration: none;
  background-color: white;
  width: 125px;
  padding: 15px 0;
  font-size: 20px;
  text-align: center;
  border-radius: 15px;
  transition: 0.4s;
}
.crackBtn:hover {
  transform: translateY(-5%);
}
.crackInfo ul {
  margin-left: 100px;
  list-style-type: disc;
}
.crackInfo ul li {
  padding: 15px;
  font-size: 20px;
  list-style-type: disc;
}
.harmon {
  font-size: 18px;
  background-color: #21212155;

  color: rgba(218, 151, 56, 1);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.active,
.harmon:hover {
  border-color: rgba(131, 58, 180, 1);
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  background-color: #323232;
}
.panel {
  text-align: left;
  padding: 0 25px;
  background-color: #222831;
  max-height: 0;
  overflow: hidden;
  transition: 0.2s ease-out;
}
form {
  margin: auto auto;
  border-radius: 15px;
  width: 80%;
  background-color: white;
  border: 1px solid #ccc;
}
form h1 {
  color: #fa4659;
}
form p {
  color: rgba(218, 151, 56, 1);
}
form hr {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(209, 209, 209);
  margin-bottom: 20px;
}
.email,
.password {
  border-radius: 3px;
  width: 100%;
  padding: 17px;
  margin: 5px 22px;
  display: inline-block;
  border: none;
  background: rgb(230, 230, 230);
}
.email:focus,
.password:focus {
  background-color: #bbb;
  outline: none;
}
.signBtns {
  text-align: center;
  margin: 15px;
}
.signBtns a {
  border-radius: 5px;
  text-align: left;
  background-color: rgb(253, 29, 29, 1);
  color: white;
  padding: 14px 20px;
  display: inline-block;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 65%;
  transition: 0.2s;
  text-decoration: none;
}
.signBtns .submitBtn {
  background-color: rgba(131, 58, 180, 1);
}
.signBtns .submitBtn2 {
  background-color: rgba(131, 58, 180, 1);
}
.signBtns a:hover {
  transform: translateY(-5%);
}
.modal {
  transition: 0.5s;
  display: none;
  position: fixed;
  z-index: 501;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00000077;
  padding-top: 50px;
}
.downloadModal {
  transition: 0.5s;
  display: none;
  position: fixed;
  z-index: 501;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00000077;
  padding-top: 50px;
}
.download {
  border-radius: 15px;
  margin: auto auto;
  width: 35%;
  background-color: white;
}
.download h2 {
  font-size: 30px;
  text-align: center;
  color: rgb(218, 151, 56, 1);
}
.download p {
  color: rgb(131, 58, 180);
}
#Upheader input {
  display: none;
}
@media (max-width: 600px) {
  #Upheader {
    position: fixed;
  }
  #upMenu {
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    transform: translateX(-100%);
    transition: 0.5s;
    z-index: 10000000000000;
  }
  #upMenu li {
    background-color: #323232;
    display: block;
    float: none;
    margin: 0;
  }
  #upMenu li a {
    width: 100%;
    text-align: center;
  }
  .central {
    width: 100%;
  }
  .login {
    display: none;
  }
  .gamepad {
    z-index: 100;
    position: relative;
    display: block;
    text-align: center;
  }
  .gamepad img {
    padding: 5px;
    padding-bottom: 0;
  }
  #Upheader input {
    width: 0;
    height: 0;
    position: absolute;
  }
  #Upheader label {
    z-index: 501;
    background-color: #303841;
    position: absolute;
    height: 65px;
    width: 70px;
  }
  #Upheader label span {
    position: absolute;
    height: 4px;
    width: 60%;
    background-color: rgba(131, 58, 180, 1);
    left: 20%;
    top: 50%;
    transition: 0.3s;
    border-radius: 10px;
  }
  label span::before {
    background-color: rgba(131, 58, 180, 1);
    border-radius: 10px;
    position: absolute;
    width: 100%;
    top: -10px;
    content: "";
    height: 4px;
    transition: 0.7s;
  }
  label span::after {
    border-radius: 10px;
    background-color: rgba(131, 58, 180, 1);
    top: 10px;
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    transition: 0.7s;
  }
  #check:checked ~ .menu {
    transform: translateX(0);
  }
  #check:checked ~ label span {
    background-color: rgba(253, 29, 29, 1);
    transform: rotate(135deg);
  }
  #check:checked ~ label span::before {
    background-color: rgba(253, 29, 29, 1);
    top: 0;
    transform: rotate(-270deg);
  }
  #check:checked ~ label span::after {
    background-color: rgba(253, 29, 29, 1);
    top: 0;
    transform: rotate(270deg);
  }
  .crackInfo ul {
    display: none;
  }
  .crackImg {
    float: none;
  }
  .crackImg img {
    width: 100%;
    filter: contrast(1);
  }
  .crackInfo {
    float: none;
    width: auto;
  }
  .crackBtn {
    margin: 10px;
  }
  #under {
    margin: 0;
  }
  .phone {
    display: none;
  }
  .social {
    padding: 0;
    text-align: center;
    display: block;
  }
  .social a {
    padding: 0 10px;
  }
  .block {
    vertical-align: top;
    min-height: 250px;
    max-height: 250px;
  }
  .block h5 {
    transform: translateY(100%);
  }
}
